# Compilados Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# IDEs
*.swp
*.swo

# Diretórios comuns de build
/build/
/dist/
/target/
/out/
/bin/

# Arquivos temporários
*.tmp
*.bak
*.old

# Arquivos de sistema
.DS_Store
Thumbs.db
desktop.ini

# NetBeans específicos
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# Arquivos do Maven (caso use)
.mvn/
!mvnw
!mvnw.cmd

# Arquivos do Gradle (caso use)
.gradle/
build/
!gradlew
!gradlew.bat

# IntelliJ/VSCode (caso abra o projeto em outras IDEs)
.idea/
*.iml
.vscode/